</div>

  <div class="footer">
    <a class="footer-icons" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fnoam-radiano-074626220%2F%3Ffbclid%3DIwAR37FeAYrkVWjHgu6cbf2d1LpB9EHa_OIwWAwIqMSwBTAbLkGpj0H2MeMrI&h=AT2r2Rg_-IMx4GvDOySWJfm-4RCdVaR3KfKBa0we-Nm3lboAHYbl-3UjoTYmzlitCMnSPKf-U8iaD1BYBh3f_joJpBvssO5_eGNpe_ZmW5_9ZGwYoFyCtbs_VG7oAxphDNM" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="footer-icons" href="https://www.facebook.com/noam.radiano/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a class="footer-icons" href="https://www.instagram.com/noamradiano/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="footer-icons" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fgithub.com%2FNoamRadiano%3Ffbclid%3DIwAR3PTNYua5oYP-5JP1sk5RRI1PHgK4MgIiHpy-WKm7lemgTjBnNu-WuuFMY&h=AT2r2Rg_-IMx4GvDOySWJfm-4RCdVaR3KfKBa0we-Nm3lboAHYbl-3UjoTYmzlitCMnSPKf-U8iaD1BYBh3f_joJpBvssO5_eGNpe_ZmW5_9ZGwYoFyCtbs_VG7oAxphDNM" target="_blank"><i class="fab fa-github"></i></a>
    <p>© Copyright 2022 Noam Radiano</p>
  </div>

</div>
</body>
<!-- for the second nav -->
<script type="text/javascript">
  window.onscroll = function ()
  {scrollfunc()};

  function scrollfunc(){
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("newnav").classList.add("displayy");
  } else {
    document.getElementById("newnav").classList.remove("displayy");
  }
  }
</script>

  <!-- Day|Night top navbar-->
  <script type="text/javascript">
      var icon = document.getElementById("icons");
      icon.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme"))
        {
          icon1.classList.remove("fa-moon");
          icon1.classList.add("fa-sun");
          icon.classList.remove("fa-moon");
          icon.classList.add("fa-sun");
        }
        else {
          icon1.classList.remove("fa-sun");
          icon1.classList.add("fa-moon");
          icon.classList.remove("fa-sun");
          icon.classList.add("fa-moon");
        }
      }
  </script>
  <!-- Day|Night vertical navbar-->
  <script type="text/javascript">
      var icon1 = document.getElementById("iconss");
      icon1.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme"))
        {
          icon1.classList.remove("fa-moon");
          icon1.classList.add("fa-sun");
          icon.classList.remove("fa-moon");
          icon.classList.add("fa-sun");
        }
        else {
          icon1.classList.remove("fa-sun");
          icon1.classList.add("fa-moon");
          icon.classList.remove("fa-sun");
          icon.classList.add("fa-moon");
        }
      }
  </script>
</html>
