<% include partials/header.ejs %>
<div class = "container CV">
<h5>Noam Radiano</h5>
<p class="about">Date of birth: 29/11/1997</p>
<p class="about">Address: Hashoftim 28, Tel-Aviv</p>
<p class="about">noamradiano@gmail.com</p>
<p class="about">+972 50-575-4164</p>
<br />
<h5 class="column">Summary</h5>
<p class="about">Computer Science and Economics student, 3rd year.</p>
<p class="about">Great communication skills, highly devoted and a fast learner.</p>
<p class="about">Able to work both independently and within a team.</p>
<br />
<h5 class="column">Education</h5>
<ul>
  <li class="part">
    <p class="about"><span>2020-Today</span>: B.A. in Computer Science and Economics, The Open University of Israel</p>
  <p class="about">Current GPA: 88</p>
  </li>
  <li class="part">
    <p class="about"><span>2022-Today</span>: Udemy python bootcamp.</p>
  </li>
  <li class="part">
    <p class="about"><span>2020-2021</span>: Udemy full stack bootcamp and Omer Rabinowitz value investments course</p>
  </li>
  <li class="part">
    <p class="about"><span>2016</span>: premilitary program "mechina", kibbutz Ein-Gedi</p>
  </li>
  <li class="part">
    <p class="about"><span>2012-2015</span>: High school education, Boyer Jerusalem</p>
    <p class="about">Majors: biology and geography</p>
  </li>
</ul>
<h5 class="column">Experience</h5>
<ul>
  <li class="part">
    <p class="about"><span>2022</span>: Study project - building "assembler" for "assembly", written in C language (2 month length, final grade 98)</p>
  </li>
  <li class="part">
    <p class="about"><span>2020-2021</span>: Security man in prime minister office – full time job</p>
  </li>
  <li class="part">
    <p class="about"><span>2016-2019</span>: Military service, a paratrooper and commander of the next generation of paratroopers commanders</p>
  </li>
</ul>
<h5 class="column">Languages</h5>
<p class="about">Hebrew: native speaker</p>
<p class="about">English: profound in reading and writing</p>
<h5 class="column skills">Skills</h5>
<ul>
  <li class="part">
    <p class="about">Java (OOP)</p>
  </li>
  <li class="part">
    <p class="about">C (Ubuntu, Linux)</p>
  </li>
  <li class="part">
    <p class="about">Web Development</p>
  </li>
  <li class="part">
    <p class="about">SQL (PostgreSQL)</p>
  </li>
  <li class="part">
    <p class="about">MongoDB</p>
  </li>
</ul>
</div>
<% include partials/footer.ejs %>
